.card {
    grid-column: 3 / -3;
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    height: 85%;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #B4B4B4;
    border: 1px solid #000000;
    border-radius: 10px;

    position: relative;
}

.card__title {
    font-weight: 300;
    font-size: 16px;
}

.card__text {
    font-weight: 300;
    font-size: 16px;
    margin-right: 10%;
    margin-bottom: 10%;
}
.card__text--description {
    font-weight: 300;
    font-size: 16px;
    margin-right: 30%;
}
.card__text--additional {
    font-weight: 300;
    font-size: 16px;
}
.card__image--main-page {
    grid-column: 2 / -1;
    width: 90%;
    height: auto;
}
.card__image--contact-page {
    grid-column: 1/2;
    width: 80%;
    height: auto;
    justify-self: center;
    margin-top: 5%;
}
.card__content--main-page {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    padding-left: 23%;
    padding-top: 15%;

    background-image: url('../../assets/card-baground-main-page.png');
    background-size: 75% 75%;
    background-position: 65% 35%;
    background-repeat: no-repeat;
}
.card__content--contact-page {
    grid-column: 2/-1;
    display: flex;
    flex-direction: column;
    padding-top: 5%;

    background-image: url('../../assets/card-baground-contact-page.png');
    background-size: 80% 70%;
    background-position: 10% 20%;
    background-repeat: no-repeat;
}

.card__button--view-works {
    margin-top: 10%;
    width: 50%;
}
.card__button--book-session {
    margin-top: 15px;
    width: 50%;
}
.card__background--contact-page {
    background-image: url("../../assets/card-baground-contact-page-down.png");
    background-size: 120% 23%;
    background-position: bottom center;
    background-repeat: no-repeat;
  }