.page {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 15px;
    height: 100vh;
    margin: 0;

    font-family: "Inter", system-ui;
    font-optical-sizing: auto;
    font-style: italic;

    background-color: #E1E1E1;
}

.page--light-gray {
    background-color: #EDEAE9;
}

.card--light-gray {
    background-color: #C1C0BE;
}