@import '../../blocks/header/header.scss';
@import '../../blocks/header/header__logo-link.scss';
@import '../../blocks/header/header__logo.scss';

@import '../../blocks/card/card.scss';
@import '../../blocks/card/card__button--book-session.scss';
@import '../../blocks/card/card__button--view-works.scss';
@import '../../blocks/button/button.scss';
@import '../../blocks/card/card__content--main-page.scss';
@import '../../blocks/card/card__image--main-page.scss';
@import '../../blocks/card/card__text.scss';
@import '../../blocks/card/card__title.scss';

.page {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 15px;
    height: 100vh;
    margin: 0;

    font-family: "Inter", system-ui;
    font-optical-sizing: auto;
    font-style: italic;

    background-color: #E1E1E1;
}