.card__content--main-page {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    padding-left: 23%;
    padding-top: 15%;

    background-image: url('../../assets/card-baground-main-page.png');
    background-size: 75% 75%;
    background-position: 65% 35%;
    background-repeat: no-repeat;
}