.card__background--contact-page {
    background-image: url("../../assets/card-baground-contact-page-down.png");
    background-size: 120% 23%;
    background-position: bottom center;
    background-repeat: no-repeat;
  }